.about-creators__title {
  padding-bottom: 10px;

  @include onDesktop {
    padding-bottom: 20px;
  }
}

.about-creators__text {
  padding-bottom: 20px;

  @include onDesktop {
    padding-bottom: 30px;
  }
}

.about-creators__link {
  margin-bottom: 25px;
  padding-bottom: 10px;
  margin-top: 13px;

  @include onTablet {
    margin-top: 0;
  }

  @include onDesktop {
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}

.about__content-left {
  position: relative;
}

.about-creators__label {
  top: 123px;
  left: -116px;
}

.about-creators-hidden {
  display: none;

  @include onDesktop {
    display: block;
  }
}
