.header {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  margin: 15px 20px;

  @include onTablet {
    max-width: 714px;
    margin: auto;
    padding: 20px 0;
  }

  @include onDesktop {
    grid-template-columns: 5fr 3fr 2fr;
    max-width: 1180px;
    padding: 40px 0 80px;
  }

  &__menu-button {
    display: none;

    @media (max-width: 1279px) {
      display: flex;
      position: fixed;
      z-index: 2;
      flex-direction: column;
      justify-content: space-between;
      width: 22px;
      height: 17px;
      cursor: pointer;
    }
  }

  &__menu-button-line {
    height: 1px;
    background-color: $c-green;
    transition-duration: 1s;
  }

  &__logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background: url(../images/logo.svg) no-repeat;
    background-size: contain;

    @media (max-width: 1279px) {
      background: url(../images/mobile/logo.svg) center no-repeat;
      justify-content: center;
    }
  }

  &__logo-image {
    display: block;
    height: 50px;

    @media (max-width: 1279px) {
      height: 24px;
    }
  }

  &__logo-text {
    margin-left: 12px;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__menu {
    align-self: center;

    @media (max-width: 1279px) {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      padding: 17vw 20px;
      background-color: $c-dark-gray;
      transition-duration: $transitionDuration;
      z-index: -1;
      opacity: 0;
    }
  }

  &__ul {
    padding-left: 10px;
    display: flex;
    list-style: none;

    @media (max-width: 1279px) {
      display: block;
    }
  }

  @include onDesktop {
    &__li {
      padding-right: 40px;
    }
  }

  &__link {
    display: inline-block;
    color: inherit;
    transition-duration: $transitionDuration;
    text-decoration: none;
    font-size: 18px;

    &::after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      background-color: $c-green;
      transition-duration: $transitionDuration;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    @media (max-width: 1279px) {
      display: block;
      margin-top: 50px;
      padding: 10px;
      color: $c-light-brown;
      border-bottom: 1px solid #8e8d8c;
      text-align: center;
      font-weight: 600;

      &:hover {
        color: #977272;

        &::after {
          width: 0;
        }
      }
    }
  }

  &__basket {
    justify-self: end;
    align-self: center;
    width: 24px;
    height: 24px;
    background: url(../images/shopping-bag.svg) center no-repeat;
    background-size: contain;

    @media (max-width: 1279px) {
      background: url(../images/mobile/shop.svg);
      align-self: flex-end;
    }
  }

  &__menu-toggler {
    display: none;
  }

  &__plug {
    display: none;

    @media (max-width: 1279px) {
      display: block;
    }
  }

  &__menu-toggler:checked ~ &__menu-button {
    background-color: transparent;
  }

  &__menu-toggler:checked ~ &__menu-button &__menu-button-line {
    background-color: $c-light-brown;

    &:first-child {
      transform: translateY(9px) rotate(-135deg);
    }

    &:nth-child(2) {
      background-color: $c-dark-gray;
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-7px) rotate(-45deg);
    }
  }

  &__menu-toggler:checked ~ &__menu {
    z-index: 1;
    opacity: 1;
  }
}
