.ingredients {
  padding-top: 100px;

  @include onDesktop {
    padding-top: 200px;
  }
}

.ingredients__powder {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding-bottom: 44px;
  justify-content: space-between;
  padding-top: 40px;
}

.ingredient {
  text-align: end;
}

.ingredients__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onTablet {
    flex-direction: row;
  }
}

.ingredients__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include onDesktop {
    padding-left: 100px;
  }
}

.ingredients__images {
  display: flex;
  min-width: 300px;
  gap: 20px;

  @include onTablet {
    min-width: none;
    justify-content: center;
  }
}

.ingredients__label {
  top: 98px;
  left: -90px;
}

.ingredients__link {
  display: block;
  padding-bottom: 10px;

  @include onTablet {
    display: none;
  }
}

.ingredients__link--hidden {
  display: none;

  @include onTablet {
    display: block;
  }
}
